---
title: "Books"
permalink: /books/
layout: portfoliomain
subheading: I write and illustrate
---

<div class="uk-container uk-margin">
  <p>Isaac Horton is a visionary writer, technologist, and cultural critic whose work dissects the hidden mechanics shaping modern civilization. With deep expertise in technology, nature, a lifelong study of world religions, and a fascination with political systems, Horton weaves together philosophy, science, and spirituality to expose the forces driving today’s global metacrisis. As the creator of Liberty Explored, The Incident, and Resonant Center, he challenges readers to question consensus reality and rediscover the light of human consciousness amid the empire of deception. Dancing With The Devil is his boldest work yet; an unflinching exploration of the battle for our collective soul in the age of algorithms and illusion. His newest book, Tartarian World looks at history through a detective's lens and will make you question the very nature of our modern world.</p>
  <h4>Children's Books</h4>
  <div class="portfolio-grid uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
    {% for childrensbook in site.childrens_books reversed %}
    <div>
    <div class="channel-card uk-box-shadow-medium">
      <a href="{{ childrensbook.url }}">
        {% if childrensbook.cover %}
        <img src="{{ childrensbook.cover }}" alt="{{ childrensbook.title }} logo">
        {% endif %}
      </a>
    </div>
    </div>
    {% endfor %}
  </div>
  <h4>Other Books</h4>
  <div class="portfolio-grid uk-child-width-1-2@s uk-child-width-1-5@m" uk-grid>
    {% for book in site.books reversed %}
    <div>
    <div class="channel-card uk-box-shadow-medium">
      <a href="{{ book.url }}">
        {% if book.cover %}
        <img src="{{ book.cover }}" alt="{{ book.title }} logo">
        {% endif %}
      </a>
    </div>
    </div>
    {% endfor %}
  </div>


</div>
