---
title: "Books"
permalink: /books/
layout: portfoliomain
subheading: I write and illustrate
---

<div class="uk-container uk-margin">
  <div class="portfolio-grid uk-child-width-1-3@m" uk-grid>
    {% for channel in site.books %}
    <div>
    <div class="channel-card uk-box-shadow-medium">
      <a href="{{ channel.url }}">
        {% if channel.logo %}
        <img src="{{ channel.logo }}" alt="{{ channel.title }} logo">
        {% endif %}
      </a>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
