---
title: "Books"
permalink: /books/
layout: portfoliomain
subheading: I write and illustrate
---

<div class="uk-container uk-margin">
  <div class="portfolio-grid uk-child-width-1-4@m" uk-grid>
    {% for book in site.books %}
    <div>
    <div class="channel-card uk-box-shadow-medium">
      <a href="{{ book.url }}">
        {% if book.cover %}
        <img src="{{ book.cover }}" alt="{{ book.title }} logo">
        {% endif %}
      </a>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
