---
title: Portfolio
permalink: "/portfolio"
layout: portfoliomain
subheading: The works of Isaac Horton
---
<div class="uk-container uk-margin">
  <h2>Videos</h2>
  <div class="portfolio-grid" uk-grid>
    {% for video in site.videos %}
      {% include video-card.html video=video %}
    {% endfor %}
  </div>
</div>


<div class="uk-container uk-margin">
<div><img class="uk-width-1-1" src="{{ "/assets/img/ih-portfolio-items-4up.jpg" | relative_url }}"></div>
<div><img class="uk-width-1-1" src="{{ "/assets/img/ih-portfolio-items-54.jpg" | relative_url }}"></div>
<div><img class="uk-width-1-1" src="{{ "/assets/img/ih-portfolio-items-101.jpg" | relative_url }}"></div>
</div>
<div class="uk-container uk-margin">
  <article class="uk-article">
        {% for website in site.websites reversed %}
        <h4>{{ website.title }} <a href="{{site.baseurl}}/websites/{{website.slug}}/" class="uk-button uk-button-secondary uk-button-small">view project</a></h4>

    <div uk-grid uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500">
      <div class="uk-width-1-3@m">
        <div uk-lightbox>
          <a href="{{ website.smallimage1 }}" data-alt="Image"><img src="{{ website.smallimage1 }}" alt="{{ website.title | downcase }} 1"></a>
        </div>
      </div>

      <div class="uk-width-1-3@m">
        <div uk-lightbox>
          <a href="{{ website.smallimage2 }}" data-alt="Image"><img src="{{ website.smallimage2 }}" alt="{{ website.title | downcase }} 2"></a>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div uk-lightbox>
          <a href="{{ website.smallimage3 }}" data-alt="Image"><img src="{{ website.smallimage3 }}" alt="{{ website.title | downcase }} 3"></a>
        </div>
      </div>
    </div>
        {% endfor %}
  </article>
  <h4>Art & Design</h4>
</div>
<div class="uk-container uk-margin">
  <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid uk-height-match="target: > div > .uk-card > .uk-card-media-top">
    {% for portfolio_item in site.portfolio_items reversed %}

    <div class="uk-animation-toggle" tabindex="0">
      <div class="uk-card uk-card-default uk-card-hover">
        <div class="uk-card-media-top uk-background-cover uk-height-large uk-border-rounded" style="background-image:url({{portfolio_item.image}});">
          <a href="{{site.baseurl}}/portfolio/{{portfolio_item.slug}}/" class="uk-display-block uk-height-large"></a>
        </div>
      </div>
    </div>


    {% endfor %}
  </div>
  <h4>Shopatron Era</h4>
  <h4>Liquid Ratio Era</h4>
  <h4>New Image Technology Era</h4>
</div>
