---
title: Portfolio
permalink: "/portfolio"
layout: portfoliomain
subheading: The works of Isaac Horton
---
<div class="uk-container uk-margin">
  <h4>Animation & Video</h4>
  <div class="portfolio-grid" uk-grid>
    {% for video in site.videos %}
      {% include video-card.html video=video %}
    {% endfor %}
  </div>
</div>


<div class="uk-container uk-margin">
  <h4>Magazine Layouts</h4>
  <div class="uk-card uk-card-body eee">
  <div class="uk-width-1-1@m"><img class="uk-width-1-1" src="{{ "/assets/img/ih-portfolio-items-4up.jpg" | relative_url }}"></div>
  <div class="uk-grid-collapse" uk-grid>
    <div class="uk-width-1-2@m"><img class="uk-width-1-1" src="{{ "/assets/img/ih-portfolio-items-54.jpg" | relative_url }}"></div>
    <div class="uk-width-1-2@m"><img class="uk-width-1-1" src="{{ "/assets/img/ih-portfolio-items-101.jpg" | relative_url }}"></div>
  </div>
  </div>
</div>
<div class="uk-container uk-margin">
  <article class="uk-article">
        {% for website in site.websites reversed %}
        <h4>{{ website.title }} <a href="{{site.baseurl}}/websites/{{website.slug}}/" class="uk-button uk-button-secondary uk-button-small">view project</a></h4>

    <div uk-grid>
      <div class="uk-width-1-3@m">
        <div uk-lightbox>
          <a href="{{ website.smallimage1 }}" data-alt="Image"><img src="{{ website.smallimage1 }}" alt="{{ website.title | downcase }} 1"></a>
        </div>
      </div>

      <div class="uk-width-1-3@m">
        <div uk-lightbox>
          <a href="{{ website.smallimage2 }}" data-alt="Image"><img src="{{ website.smallimage2 }}" alt="{{ website.title | downcase }} 2"></a>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div uk-lightbox>
          <a href="{{ website.smallimage3 }}" data-alt="Image"><img src="{{ website.smallimage3 }}" alt="{{ website.title | downcase }} 3"></a>
        </div>
      </div>
    </div>
        {% endfor %}
  </article>
  <h4>Art & Design</h4>
</div>
<div class="uk-container uk-margin">
  <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid uk-height-match="target: > div > .uk-card > .uk-card-media-top">
    {% for portfolio_item in site.portfolio_items reversed %}

    <div class="uk-animation-toggle" tabindex="0">
      <div class="uk-card uk-card-default uk-card-hover">
        <div class="uk-card-media-top uk-background-cover uk-height-large uk-border-rounded" style="background-image:url({{portfolio_item.image}});">
          <a href="{{site.baseurl}}/portfolio/{{portfolio_item.slug}}/" class="uk-display-block uk-height-large"></a>
        </div>
      </div>
    </div>


    {% endfor %}
  </div>
  <h2 class="uk-heading-line">Shopatron - Companies I worked directly with</h2>
  <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-child-width-1-5@l" uk-grid>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Cleveland_Golf.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/DAddario__Company.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Descente_North_America.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Ducati_North_America.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Ernie_Ball.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/footer_logo_md.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/JL_Audio.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/K2_Skis.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/logo_10_YzYVpta.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/logo-bosch-png-bosch-logo-800.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/logo01_3JUTkjd.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Louis_Garneau.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/manfrotto-logo-png.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Melissa__Doug.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Mephisto.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/mizuno-corporation_4748.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/MK_Diamond.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/modells-sporting-goods_7267.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Modern_Masters.jpeg" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Nordica.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Precision_Shooting_Equipment.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/SportChalet_Lbe2ppt.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Suzuki.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/thule2.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Toklat.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Vango1.png" | relative_url }}"></div>
     <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom uk-padding" src="{{ "/assets/img/client-logos/300px-Roots_logo.svg.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"> <img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Aquascape.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/BIC_Sport.png" | relative_url }}"></div>
    <div class="uk-flex uk-flex-middle uk-padding"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/evinrudelogo.png" | relative_url }}"></div>
  </div>

  <h4>Liquid Ratio</h4>
  <div class="uk-child-width-1-2" uk-grid>

    <div><img class="uk-margin-bottom" src="{{ "/assets/img/2logos.jpg" | relative_url }}"></div>
    <div><img class="uk-margin-bottom" src="{{ "/assets/img/better-lr.jpg" | relative_url }}"></div>
    </div>
  <h4>New Image Technologies</h4>
</div>
