---
title: "YouTube Channels"
permalink: /youtube/
layout: portfoliomain
subheading: Video is my passion
---

<div class="uk-container uk-margin">
  <div class="portfolio-grid uk-child-width-1-2@m" uk-grid>
    {% for channel in site.youtube_channels %}
    <div class="channel-card uk-box-shadow-medium">
      <a href="{{ channel.url }}">
        {% if channel.logo %}
        <img src="{{ channel.logo }}" alt="{{ channel.title }} logo">
        {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
</div>
