<footer>
  <div class="uk-section uk-section-muted uk-section-xsmall">
    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
        <div class="uk-text-center uk-text-small">
          <p>
            &copy; 2022 <a class="uk-link-text" href="{{"https://kre8t.github.io" | relative_url }}">Isaac Horton</a>. Site design using <a class="uk-link-text" href="{{"https://st4rlab.github.io/miniml/" | relative_url }}">miniml</a>.
            {% include footer-links.html %}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
