<dl class="uk-description-list uk-description-list-divider uk-column-1-2@l">
    <dt>Design Software</dt>
    <dd>Illustrator, Photoshop, Sketch, Figma, Fusion 360</dd>
    <dt>Marketing</dt>
    <dd>SEO, Drip, Targeted, Boutique, Brand Benefit</dd>
    <dt>Project Management</dt>
    <dd>Project, Asana, Wrike, Custom.</dd>
    <dt>Client Interface</dt>
    <dd>Email, video, voice, robot.</dd>
    <dt>NFT Smart Contracts</dt>
    <dd>Etherium, Solana, Polygon, Bitcoin.</dd>
    <dt>UI/UX Design</dt>
    <dd>Super Ui kit, Interactive Design, Photography, Custom programming.</dd>
</dl>
