<dl class="uk-description-list uk-description-list-divider uk-column-1-2@l">
    <dt>Design Software</dt>
    <dd>Illustrator, Photoshop, Sketch, Figma, Cinema 4d, Resolume</dd>
    <dt>AI</dt>
    <dd>Stable Diffusion and more</dd>
    <dt>Video</dt>
    <dd>After Effects, Premiere, Resolume, DaVinci Resolve, Blender, Final Cut Pro</dd>
    <dt>3d</dt>
    <dd>Cinema 4D, Maya, Blender, Fusion 360</dd>
    <dt>Code</dt>
    <dd>Git, Atom, Ethereum Smart Contracts, Google Colab</dd>
    <dt>UI/UX Design</dt>
    <dd>Figma, Wireframing, Prototyping, Integration.</dd>
</dl>
