<ul class="uk-subnav uk-subnav-pill" uk-switcher>
    <li><a href="#">2017-2021 IJH</a></li>
    <li><a href="#">2016-2017 LE</a></li>
    <li><a href="#">2008-2015 Shopatron</a></li>
    <li><a href="#">2003-2008 Liquid Ratio</a></li>
    <li><a href="#">1999-2003 NIT</a></li>
    <li><a href="#">1996–1999</a></li>
</ul>
<hr>
<ul class="uk-switcher uk-margin">
    <li>
    	{% include workhistory/ijh.html %}
    	</li>
    <li>
    	{% include workhistory/le.html %}
    </li>
    <li>
    	 {% include workhistory/shopatron.html %}
    </li>
    <li>
     {% include workhistory/liquidratio.html %}
    </li>
    <li>
     {% include workhistory/nit.html %}
    </li>
    <li>
     {% include workhistory/recordgrafix.html %}
    </li>
</ul>
<hr>
