@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

.uk-navbar-nav>li>a {
	color:#000;
}
.uk-navbar-nav>li>a:hover {
	color:#1f87f0;
}
.uk-navbar-left.uk-light.black, .blackback {
    background-color: black;
}
.uk-navbar-left.uk-light.black .uk-navbar-nav>li>a {
color: white;
}
.blackback {
	width:10px;
	height:80px;
	display:block;
}
h1, h2, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, .uk-heading-2xlarge {
	font-family: 'Raleway', sans-serif;
	font-weight:700;
}
h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight:500;
}
.uk-button {
	border-radius:8px;
}
a.uk-button:hover {
	background-color:#1f87f0;
}
.uk-sticky.uk-active {
	background-color:white;
}
.minimlblock h2 a.minimla {
	color:black;
}
.uk-card h2 a:hover {
	text-decoration:none;
	color:#888;
}
@media (min-width: 960px) {
.ih-post-title {
	padding:40px 40px 20px 40px;
}
}
