@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

.uk-navbar-nav>li>a {
	color:#000;
}
.uk-navbar-nav>li>a:hover {
	color:#39AAD1;
}
.uk-navbar-left.uk-light.black, .blackback {
    background-color: black;
}
.uk-navbar-left.uk-light.black .uk-navbar-nav>li>a {
color: white;
}
.blackback {
	width:10px;
	height:80px;
	display:block;
}
h1, h2, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, .uk-heading-2xlarge {
	font-family: 'Raleway', sans-serif;
	font-weight:700;
}
h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight:500;
}
.uk-button {
	border-radius:8px;
}
.uk-sticky.uk-active {
	background-color:white;
}
.uk-button-primary {
	background-color:black;
	border-radius:0;
}
