<h2>Role: Graphic Designer, Animator, Illustrator</h2>
<h3 class="uk-margin-remove-top">Design, Video, Branding Solutions</h3>

<div uk-grid>
	<div class="uk-width-1-3@m">
		<img class="" src="{{ "/assets/img/h-logo.svg" | relative_url }}" width="150" uk-svg>
		<h2>IH</h2>
		<p>Design, Animation, Videography, Branding</p>
		<p>Building and rebuilding web architectures using design standards. Application of responsive web layouts using frameworks like Bootstrap and UiKit. Animation for feature video clips used in live performances on Resolume by Light Eyes.</p>
	</div>

	<div class="uk-width-2-3@m">
		<div><img class="uk-width-1-1" src="{{ "/assets/img/ih-portfolio-posters-72.jpg" | relative_url }}" width="1843" height="1792"></div>
	</div>
</div>
