
<h2>Role: Co-Owner / President</h2>
<h3 class="uk-margin-remove-top">Working with local government agencies and education organizations.</h3>

<div uk-grid>
	<div class="uk-width-1-3@m">
		<div class="uk-card uk-text-left">
			<img class="" src="{{ "/assets/img/nitlogo.jpg" | relative_url }}">
		</div>
		<h3>New Image Technologies</h3>
		<p>Web Design and Branding</p>
		<p>Creating online brands with strong web presence using the most sophisticated technology available. We are the one stop shop who knows how to bring your brand on to the web with success.</p>

	</div>

	<div class="uk-width-2-3@m">
		 <img class="uk-margin-bottom" src="{{ "/assets/img/workexamples/a-illustrated-nit-collection-in-red.png" | relative_url }}">

	</div>
</div>
