<h2>Role: Senior Designer, Creative Director for Marketing</h2>
<h3 class="uk-margin-remove-top">Directly working with over 1000 top tier clients worldwide.</h3>


<div uk-grid>
	<div class="uk-width-1-3@m">
				<div class="uk-card uk-text-left">
		<img class="" src="{{ "/assets/img/shopatron_logo.jpeg" | relative_url }}">
				</div>
		<h3>Shopatron</h3>
		<p>E-commerce for Manufacturers with Retailers</p>
		<p>Design for E-commerce based websites and custom web and promotional content for over 1,000 different manufacturer and top brand clients in nearly every industry specializing in music, action sports, consumer electronics, motorcycle brands and franchises. Design of internal corporate focused products including time tracking system used by company, project management system used for client interfacing and communication and structured testing for increasing ROI. Overhaul of checkout and bringing entire E-commerce system into responsive layouts.</p>
	</div>

	<div class="uk-width-2-3@m">
				<div><img class="uk-width-1-1" src="{{ "/assets/img/kibo.jpg" | relative_url }}" width="1489" height="765"></div>
		<h5>Companies using Shopatron E-commerce</h5>
		<div class="uk-child-width-1-5" uk-grid>

			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Cleveland_Golf.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/DAddario__Company.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Descente_North_America.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Ducati_North_America.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Ernie_Ball.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/footer_logo_md.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/JL_Audio.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/K2_Skis.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/logo_10_YzYVpta.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/logo-bosch-png-bosch-logo-800.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/logo01_3JUTkjd.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Louis_Garneau.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/manfrotto-logo-png.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Melissa__Doug.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Mephisto.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/mizuno-corporation_4748.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/MK_Diamond.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/modells-sporting-goods_7267.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Modern_Masters.jpeg" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Nordica.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Precision_Shooting_Equipment.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/SportChalet_Lbe2ppt.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Suzuki.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/thule2.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Toklat.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Vango1.png" | relative_url }}"></div>
			 <div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom uk-padding" src="{{ "/assets/img/client-logos/300px-Roots_logo.svg.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"> <img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/Aquascape.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/BIC_Sport.png" | relative_url }}"></div>
			<div class="uk-flex uk-flex-middle"><img class="uk-margin-bottom" src="{{ "/assets/img/client-logos/evinrudelogo.png" | relative_url }}"></div>
		</div>
	</div>
</div>
