---
layout: default
---
<div class="uk-container-expand uk-margin-left uk-margin-right">

  <header>
    <h1>{{ page.title }}</h1>

  </header>
  </div>
  <hr>
  <div class="uk-container">
  <article class="channel-case-study">
<div class="uk-child-width-1-2@m" uk-grid>
  <div>

  <section class="channel-description">
    {{ content }}
  </section>
  </div>

  <div>
    {% if page.cover %}
    <div>
       <a href="{{ page.book_url }}"><img src="{{ page.cover }}" alt="{{ page.title }} cover" class="book-cover"></a>
    </div>
     {% endif %}
     {% if page.book_url %}
     <div>
        <a class="uk-button uk-button-secondary uk-width-1-1" href="{{ page.youtube_url }}">{{ page.book_url }}</a>
     </div>
      {% endif %}
    </div>

</article>
</div>
