---
layout: default
---
<div class="uk-container-expand uk-margin-left uk-margin-right">

  <header>
    <h1>{{ page.title }}</h1>

  </header>
  </div>
  <hr>
  <div class="uk-container">
  <article class="channel-case-study">
<div class="uk-child-width-1-2@m" uk-grid>
  <div>

  <section class="channel-description">
    {{ content }}
  </section>
  </div>

  <div>
    {% if page.logo %}
    <div>
       <a href="{{ page.youtube_url }}"><img src="{{ page.logo }}" alt="{{ page.title }} logo" class="channel-logo"></a>
    </div>
     {% endif %}
     {% if page.youtube_url %}
     <div>
        <a class="uk-button uk-button-secondary uk-width-1-1" href="{{ page.youtube_url }}">{{ page.youtube_url }}</a>
     </div>
      {% endif %}
    </div>
     <div uk-grid class="uk-grid-collapse">
     {% if page.brand_colors %}

      <div style="background-color:{{ page.brand_colors }}"> &nbsp;</div>

      {% endif %}
     </div>
</article>
</div>
