---
layout: homepage
---

<body>
  <div uk-height-expand>
    <div>
      {% include header.html %}
      <div class="uk-section uk-section-small">
        <div class="intro-text uk-container">
          <h2 class="uk-heading-large">Isaac Horton <br>UI/UX Designer</h2>
          <p>Plan it, design it, build it, fix it, tweak it, send it, love it, share it.</p>
        </div>
      </div>
      <div class="uk-section uk-section-small">
        <div class="intro-text uk-container">
          <div class="uk-child-width-1-2@m" uk-grid>
            <div class="uk-heading-medium uk-animation-slide-right-small uk-flex uk-flex-middle">Web Design, Branding,<br>Marketing.</div>
            <div><a href="/portfolio"><img src="/assets/img/black-white-portfolio.jpeg"></a></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% include sections/currentprojects.html %}
  {% include sections/collaborate.html %}

</body>
