---
layout: homepage
---

<body>
  <div uk-height-expand>
    <div>
      {% include header.html %}
      <div class="uk-section uk-section-small uk-padding-remove-bottom">
        <div class="intro-text uk-container">
          <div class="uk-child-width-1-2@m" uk-grid>
            <div>
          <p class="uk-text-lead"><span>Isaac Horton</span> <br><!-- Element to contain animated typing -->
            <span id="element"></span>
          </p>
          </div>
            <div class="uk-flex uk-flex-middle">
                <p>Architectural designer for hire <br>Zomes, gardens, cooking, and writing is my passion</p>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-section uk-section-small">
        <div class="intro-text uk-container">
          <div class="uk-child-width-1-4@m uk-grid-match" uk-grid>

            <div><img class="uk-width-1-1" src="{{ "/assets/img/zomes/zomesq1.jpg" | relative_url }}" width="1000" height="1000"></div>
            <div><img class="uk-width-1-1" src="{{ "/assets/img/zomes/zomesq2.jpg" | relative_url }}" width="1000" height="1000"></div>


          </div>
        </div>
          {% include sections/featured.html %}
      </div>
    </div>
  </div>

  {% include sections/currentprojects.html %}
  <!-- Load library from the CDN -->
  <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

  <!-- Setup and start animation! -->
  <script>
    var typed = new Typed('#element', {
      strings: ['Architect', 'Designer', 'Author', 'Builder', 'Developer'],
      typeSpeed: 50,
       loop: true,
    });
  </script>
</body>
