---
layout: default
---

<hr class="uk-margin-remove-top">

<div>
  <div class="uk-section-xsmall">
	  <div class="uk-container">
		  <div uk-grid>
	    <article class="uk-article uk-width-3-4@l">
		    <div uk-lightbox>
		    {% if page.svg %}
		     <a href="{{ page.image }}" data-alt="Image"><img src="{{ page.image }}" alt="{{ page.title | downcase }}"></a>
		    {% else %}
		   <a href="{{ page.image }}" data-alt="Image"><img src="{{ page.image }}" alt="{{ page.title | downcase }}"></a>
		    {% endif %}
			    
		    </div>
	    </article>
	    
	    <div class="uk-width-1-4@l ">
		    <div class="uk-card uk-card-secondary uk-card-body">
			     <h5>Title:<br> {{page.title}}</h5>
			     {% if page.client %}<h5>Client:<br>{{page.client}}</h5>{% endif %}
			     {% if page.subheading %}<h5 class="uk-margin-small-bottom">{{page.subheading}}</h5>{% endif %}
			      <h5>Date:<br></span> <span class="date">{{page.date | date: "%b %d, %Y "}}</span></h5>
		    {{content}}
		    </div>
		      {% include post-pagination.html %}
	    </div>
	    
		  </div>
     </div>
  </div>
  {% include totop.html %}
</div>
