---
layout: default
---


<div class="uk-container-expand uk-background-cover uk-background-top-center">
  <div id="page" class="uk-section-small uk-padding-remove-bottom">

    <div>
      <div class="uk-container">
	      {% if page.subheading %}<h5 class="uk-margin-small-bottom">{{page.subheading}}</h5>{% endif %}
        <h3 class="uk-heading-medium uk-margin-remove-top">{{page.title}}</h3>
      </div>
    </div>
    <hr>
  
  </div>
    </div>
<div>
  <div class="uk-section">
	  <div class="uk-container">
	    <article class="uk-article">
		    {% if page.svg %}
		     <img src="{{ page.image }}" alt="{{ page.title | downcase }}">
		    {% else %}
		   <img src="{{ page.image }}" alt="{{ page.title | downcase }}">
		    {% endif %}
	      {{content}}
	      {% include buymeacoffee.html %}
	    </article>
     </div>
  </div>
  {% include totop.html %}
</div>
